.playing-mat-outline-3-players {
  background: transparent;
}

.playing-mat-outline-3-players .mat-stage {
  grid-template-columns: minmax(0, 0.8fr) minmax(0, 1fr) minmax(0, 0.8fr);
  grid-template-rows:
    minmax(0, 0.8fr)
    minmax(0, 1fr)
    minmax(0, 1fr);
  grid-template-areas:
    "left center right"
    "left center right"
    "bottom bottom bottom";
}

.player-1-space {
  grid-area: bottom;
  flex-direction: row;
}

.player-2-space {
  grid-area: right;
  flex-direction: row;
  flex-wrap: wrap;
}

.player-3-space {
  grid-area: left;
  flex-direction: row;
  flex-wrap: wrap;
}

.center-pile {
  grid-area: center;
}

.player-2-space .property-collection,
.player-3-space .property-collection {
  min-height: clamp(100px, 18vh, 220px);
}
