.playing-mat-outline-2-players {
  background: transparent;
}

.playing-mat-outline-2-players .mat-stage {
  grid-template-columns: 1fr;
  grid-template-rows:
    minmax(0, 0.9fr)
    minmax(0, 0.5fr)
    minmax(0, 1fr);
  grid-template-areas:
    "top"
    "center"
    "bottom";
}

.player-1-space {
  grid-area: bottom;
  flex-direction: row;
}

.player-2-space {
  grid-area: top;
  flex-direction: row-reverse;
}

.center-pile {
  grid-area: center;
}

.player-1-space .property-collection,
.player-2-space .property-collection {
  min-height: clamp(110px, 22vh, 320px);
}
