.playing-mat-outline-5-players {
  background: transparent;
}

.playing-mat-outline-5-players .mat-stage {
  grid-template-columns: minmax(0, 0.9fr) minmax(0, 1fr) minmax(0, 0.9fr);
  grid-template-rows:
    minmax(0, 0.6fr)
    minmax(0, 1fr)
    minmax(0, 1fr);
  grid-template-areas:
    "top-left top top-right"
    "left center right"
    "bottom bottom bottom";
}

.player-1-space {
  grid-area: bottom;
  flex-direction: row;
}

.player-2-space {
  grid-area: left;
  flex-direction: row;
  flex-wrap: wrap;
}

.player-3-space {
  grid-area: right;
  flex-direction: row;
  flex-wrap: wrap;
}

.player-4-space {
  grid-area: top-left;
  flex-direction: row;
  flex-wrap: wrap;
}

.player-5-space {
  grid-area: top-right;
  flex-direction: row;
  flex-wrap: wrap;
}

.center-pile {
  grid-area: center;
}

.player-2-space .property-collection,
.player-3-space .property-collection,
.player-4-space .property-collection,
.player-5-space .property-collection {
  min-height: clamp(90px, 16vh, 210px);
}
