[Unit]
Description=Renew Blockopoly TLS certificate
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=__BLOCKOPOLY_ROOT__
ExecStart=__BLOCKOPOLY_ROOT__/ops/aws/renew-cert.sh
